<!--If not exists-->
@if (project() === null) {
  <app-project-not-found />
}

<!--Initial Loader-->
@if (!project()?.id && project() !== null) {
  <app-loader />
}

@if (project()?.id) {
  @let project_ = project()!;

  <!------------------------------------------------------------------------------------->

  <div class="py-12 px-4 mx-auto max-w-screen-xl z-10">
    <!-- Header Section -->
    <div class="text-center mb-8">
      <h2 class="text-4xl font-extrabold text-gray-900 dark:text-white">
        {{ project_.name }}
      </h2>
    </div>

    <!-- Image and Details Section -->
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
      <!-- Project Image -->
      <app-project-slider [images]="project_.images" />

      <!-- Project Details -->
      <div class="flex flex-col justify-center">
        <!-- title -->
        <h3 class="text-2xl font-bold text-gray-900 dark:text-primary-500 mb-4">
          {{ "projects.learnMore" | translate }} {{ project_.name }}
        </h3>

        <!-- Description-->
        <p
          class="text-gray-500 dark:text-gray-400 leading-relaxed mb-6 text-justify"
        >
          {{ project_.description }}
        </p>

        <!-- Technologies Used -->
        <div class="flex flex-wrap items-center mb-6">
          <span
            class="text-sm font-medium text-gray-600 dark:text-gray-400 me-2"
          >
            {{ "projects.technologiesUsed" | translate }}
          </span>
          <!-- Technologies -->
          <app-project-technologies [technologies]="project_.technologies" />
        </div>

        @if (project_.backend_url) {
          <!-- Technologies Used -->
          <div class="flex flex-wrap items-center mb-6">
            <span
              class="text-sm font-medium text-gray-600 dark:text-gray-400 me-2"
            >
              {{ "projects.apiUsed" | translate }}
            </span>
            <a
              [href]="project_.backend_url"
              target="_blank"
              rel="noopener noreferrer"
              class="text-gray-600 dark:text-gray-400 text-sm hover:underline"
            >
              {{ project_.backend_url }}
            </a>
          </div>
        }

        <!-- Buttons -->
        <div class="flex flex-col sm:flex-row gap-4">
          <!-- Link to the live website dynamically -->
          <a
            [href]="project_.url"
            target="_blank"
            rel="noopener noreferrer"
            class="flex justify-center items-center gap-2 py-2 px-5 text-base font-medium text-center text-white rounded-lg bg-primary-700 sm:w-fit hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-600 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
          >
            <svg
              class="h-5 w-5"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              fill="none"
              height="24"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M18 14v4.833A1.166 1.166 0 0 1 16.833 20H5.167A1.167 1.167 0 0 1 4 18.833V7.167A1.166 1.166 0 0 1 5.167 6h4.618m4.447-2H20v5.768m-7.889 2.121 7.778-7.778"
              />
            </svg>
            @if (project_.type === "backend") {
              {{ "projects.previewBackend" | translate }}
            } @else {
              {{ "projects.preview" | translate }}
            }
          </a>
          <!-- Link to the GitHub repository dynamically -->
          <a
            [href]="project_.github_url"
            target="_blank"
            rel="noopener noreferrer"
            class="flex justify-center items-center gap-2 py-2 px-5 text-base font-medium text-center text-gray-900 rounded-lg border border-gray-300 focus:ring-gray-100 bg-white hover:bg-gray-100 hover:text-primary-600 dark:bg-gray-800 dark:border-gray-600 dark:text-gray-400 dark:focus:ring-gray-800 dark:hover:text-white dark:hover:bg-gray-700 cursor-pointer"
          >
            <svg
              class="h-5 w-5"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              fill="none"
              height="24"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M18 14v4.833A1.166 1.166 0 0 1 16.833 20H5.167A1.167 1.167 0 0 1 4 18.833V7.167A1.166 1.166 0 0 1 5.167 6h4.618m4.447-2H20v5.768m-7.889 2.121 7.778-7.778"
              />
            </svg>
            {{ "projects.viewGitHubRepository" | translate }}
          </a>
        </div>
      </div>
    </div>

    <!-- Featured functions section -->
    <section class="mt-16 bg-gray-100 dark:bg-gray-700 p-6 rounded-lg">
      <h2
        class="mb-8 text-2xl 2xl:text-3xl font-bold text-gray-900 dark:text-gray-100"
      >
        {{ "projects.highlightedFunctions" | translate }}
      </h2>

      <div class="grid grid-cols-3 gap-8">
        <!-- list -->
        <div class="col-span-3" [class.lg:col-span-2]="!!project_.image_mobile">
          <app-featured-functions
            [featuredFunctions]="project_.featuredFunctions"
          />
        </div>

        <!-- Mobile device -->
        @if (project_.image_mobile) {
          <div class="col-span-3 lg:col-span-1">
            <app-project-mobile-mockup [image]="project_.image_mobile" />
          </div>
        }
      </div>
    </section>
  </div>
}
