<article>
  <!--Profile content-->
  <section>
    <app-profile-content />
  </section>

  <!-- Grid abilities -->
  <section>
    <app-abilities />
  </section>

  <section>
    <app-experience />
  </section>

  <section class="md:hidden col-span-12 mt-7">
    <app-links-footer />
  </section>
</article>

<!--Button down-->
<!--<button
  class="pulse-button z-10 border border-gray-700 hover:border-gray-300 dark:border-gray-300 dark:hover:border-gray-600 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg"
  data-tooltip-target="tooltip-down"
  data-tooltip-placement="top"
>
  &lt;!&ndash;  (click)="scrollToSection()"&ndash;&gt;
  <svg
    class="w-6 h-6 text-gray-800 dark:text-white"
    aria-hidden="true"
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    fill="none"
    viewBox="0 0 24 24"
  >
    <path
      stroke="currentColor"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M12 19V5m0 14-4-4m4 4 4-4"
    />
  </svg>
</button>-->
<!--tooltip-->
<!--<div
  id="tooltip-down"
  role="tooltip"
  class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700"
>
  {{ "home.profile.down" | translate }}
</div>-->
