<article>
  <!--Profile content-->
  <section class="pb-8 md:pb-16">
    <app-profile />
  </section>

  <!-- Grid abilities -->
  <section class="pb-16">
    <app-abilities />
  </section>

  @defer {
    <section class="pb-10">
      <app-experience />
    </section>
  }

  @defer {
    <section class="pb-16 xl:pb-0">
      <app-certifications />
    </section>
  }

  @let screenWith = currentWidth$ | async;
  @let isDesktop = screenWith! >= 1280;
  @if (!isDesktop) {
    <section>
      <app-links-footer />
    </section>
  }
</article>
