<div class="py-6 lg:py-12 px-4 mx-auto max-w-screen-xl">
  <!-- Header -->
  <div class="text-center mb-12">
    <h2
      class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white"
    >
      {{ "projects.title" | translate }}
    </h2>
    <p
      class="mb-8 tracking-tight lg:mb-10 text-center text-gray-500 dark:text-gray-400 sm:text-xl"
    >
      {{ "projects.description" | translate }}
    </p>
  </div>

  <!-- Cards Section -->
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
    @for (
      project of projects().slice(0, visibleProjects());
      track project.id;
      let idx = $index
    ) {
      <app-project-card [project]="project" [delay]="(idx % 3) * 0.2" />
    }
  </div>

  <!-- Button to Load More -->
  @if (visibleProjects() < projects().length && !onLoadProjects()) {
    <div class="text-center mt-12">
      <button
        (click)="loadMoreProjects()"
        class="py-2 px-6 text-base font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-600 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
      >
        {{ "projects.seeMoreProjects" | translate }}
      </button>
    </div>
  }

  <!--Loader-->
  @if (onLoadProjects()) {
    <app-loader />
  }
</div>
