<div class="py-6 lg:py-12 px-4 mx-auto max-w-screen-xl">
  <!-- Header -->
  <div class="text-center mb-12">
    <h2
      class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white"
    >
      {{ "projects.title" | translate }}
    </h2>
    <p
      class="mb-8 tracking-tight lg:mb-10 text-center text-gray-500 dark:text-gray-400 sm:text-xl"
    >
      {{ "projects.description" | translate }}
    </p>
  </div>

  <!-- Cards Section -->
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
    @for (project of projects().slice(0, visibleProjects()); track project.id) {
      <div
        #project
        class="rounded-lg overflow-hidden app-shadow dark:!shadow-none"
      >
        <img
          [ngSrc]="project.images[0]"
          [alt]="project.name"
          [title]="project.name"
          priority
          height="300"
          width="400"
          class="w-full"
        />
        <div class="py-5 px-2">
          <!-- Technologies -->
          @for (technology of project.technologies; track technology) {
            <span [class]="technologyClasses[technology]">
              {{ technology }}
            </span>
          }
          <!-- Title project -->
          <h3
            class="text-2xl tracking-tight font-bold my-2 text-gray-800 dark:text-gray-200"
          >
            {{ project.name }}
          </h3>
          <!-- Description -->
          <p
            class="text-gray-500 dark:text-gray-400 mt-2 text-base font-normal"
          >
            {{ project.description | truncate: 90 }}
          </p>
          <!--buttons-->
          <div class="flex items-center mt-6 gap-3">
            <button
              class="py-2 px-5 text-base font-medium text-center text-white rounded-lg bg-primary-700 sm:w-fit hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-600 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
            >
              {{ "projects.seeMore" | translate }}
            </button>
            <a
              [href]="project.url"
              target="_blank"
              rel="noopener noreferrer"
              class="flex justify-center items-center gap-2 py-2 px-5 text-base font-medium text-center text-gray-900 rounded-lg border border-gray-300 focus:ring-gray-100 bg-white hover:bg-gray-100 hover:text-primary-600 dark:bg-gray-800 dark:border-gray-600 dark:text-gray-400 dark:focus:ring-gray-800 dark:hover:text-white dark:hover:bg-gray-700 cursor-pointer"
            >
              <svg
                class="h-5 w-5"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                fill="none"
                height="24"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M18 14v4.833A1.166 1.166 0 0 1 16.833 20H5.167A1.167 1.167 0 0 1 4 18.833V7.167A1.166 1.166 0 0 1 5.167 6h4.618m4.447-2H20v5.768m-7.889 2.121 7.778-7.778"
                />
              </svg>
              {{ "projects.preview" | translate }}
            </a>
          </div>
        </div>
      </div>
    }
  </div>

  <!-- Button to Load More -->
  @if (visibleProjects() < projects().length && !onLoadProjects()) {
    <div class="text-center mt-12">
      <button
        (click)="loadMoreProjects()"
        class="py-2 px-6 text-base font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-600 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
      >
        {{ "projects.seeMoreProjects" | translate }}
      </button>
    </div>
  }

  @if (onLoadProjects()) {
    <div role="status" class="flex justify-center">
      <svg
        aria-hidden="true"
        class="w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-primary-500"
        viewBox="0 0 100 101"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
          fill="currentColor"
        />
        <path
          d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
          fill="currentFill"
        />
      </svg>
      <span class="sr-only">Loading...</span>
    </div>
  }
</div>
