<!--header-->
<h2 class="text-gray-300 text-2xl text-center font-bold">Habilidades</h2>
<!--grid-->
<div class="relative w-fit h-fit overflow-x-auto mt-3 xl:mt-5">
  <!--row 1-->
  <div class="mb-3 flex w-fit mx-auto gap-3">
    <!--Html-->
    <div
      class="border flex relative *:relative *:size-7 *:m-auto size-14 sm:size-16 mx-auto rounded-xl dark:bg-gray-900 dark:border-white/15 before:rounded-[11px] before:absolute before:inset-0 before:border-t before:border-white before:from-gray-100 dark:before:border-white/20 before:bg-gradient-to-b dark:before:from-white/10 dark:before:to-transparent before:shadow dark:before:shadow-gray-950"
    >
      <img ngSrc="assets/icons/html.svg" alt="Html" class="w-8 h-8 p-3" fill />
    </div>
    <!--css-->
    <div
      class="border flex relative *:relative *:size-7 *:m-auto size-14 sm:size-16 mx-auto rounded-xl dark:bg-gray-900 dark:border-white/15 before:rounded-[11px] before:absolute before:inset-0 before:border-t before:border-white before:from-gray-100 dark:before:border-white/20 before:bg-gradient-to-b dark:before:from-white/10 dark:before:to-transparent before:shadow dark:before:shadow-gray-950"
    >
      <img ngSrc="assets/icons/css.svg" alt="Css" class="w-8 h-8 p-3" fill />
    </div>
    <!--javascript-->
    <div
      class="border flex relative *:relative *:size-7 *:m-auto size-14 sm:size-16 mx-auto rounded-xl dark:bg-gray-900 dark:border-white/15 before:rounded-[11px] before:absolute before:inset-0 before:border-t before:border-white before:from-gray-100 dark:before:border-white/20 before:bg-gradient-to-b dark:before:from-white/10 dark:before:to-transparent before:shadow dark:before:shadow-gray-950"
    >
      <img
        ngSrc="assets/icons/javascript.svg"
        alt="Javascript"
        class="w-8 h-8 p-3"
        fill
      />
    </div>
    <!--typescript-->
    <div
      class="border flex relative *:relative *:size-7 *:m-auto size-14 sm:size-16 mx-auto rounded-xl dark:bg-gray-900 dark:border-white/15 before:rounded-[11px] before:absolute before:inset-0 before:border-t before:border-white before:from-gray-100 dark:before:border-white/20 before:bg-gradient-to-b dark:before:from-white/10 dark:before:to-transparent before:shadow dark:before:shadow-gray-950"
    >
      <img
        ngSrc="assets/icons/typescript.svg"
        alt="Typescript"
        class="w-8 h-8 p-3"
        fill
      />
    </div>
  </div>
  <!--row 2-->
  <div class="mb-3 flex w-fit mx-auto gap-3">
    <!--tailwind-->
    <div
      class="border flex relative *:relative *:size-7 *:m-auto size-14 sm:size-16 mx-auto rounded-xl dark:bg-gray-900 dark:border-white/15 before:rounded-[11px] before:absolute before:inset-0 before:border-t before:border-white before:from-gray-100 dark:before:border-white/20 before:bg-gradient-to-b dark:before:from-white/10 dark:before:to-transparent before:shadow dark:before:shadow-gray-950"
    >
      <img
        ngSrc="assets/icons/tailwind.svg"
        alt="Tailwind"
        class="w-8 h-8 p-3"
        fill
      />
    </div>
    <!--bootstrap-->
    <div
      class="border flex relative *:relative *:size-7 *:m-auto size-14 sm:size-16 mx-auto rounded-xl dark:bg-gray-900 dark:border-white/15 before:rounded-[11px] before:absolute before:inset-0 before:border-t before:border-white before:from-gray-100 dark:before:border-white/20 before:bg-gradient-to-b dark:before:from-white/10 dark:before:to-transparent before:shadow dark:before:shadow-gray-950"
    >
      <img
        ngSrc="assets/icons/bootstrap.svg"
        alt="Bootstrap"
        class="w-8 h-8 p-3"
        fill
      />
    </div>
    <!--angular-->
    <div
      class="border flex relative *:relative *:size-7 *:m-auto size-14 sm:size-16 mx-auto rounded-xl dark:bg-gray-900 dark:border-white/15 before:rounded-[11px] before:absolute before:inset-0 before:border-t before:border-white before:from-gray-100 dark:before:border-white/20 before:bg-gradient-to-b dark:before:from-white/10 dark:before:to-transparent before:shadow dark:before:shadow-gray-950"
    >
      <img
        ngSrc="assets/icons/angular.svg"
        alt="Angular"
        class="w-8 h-8 p-3"
        fill
      />
    </div>
    <!--react-->
    <div
      class="border flex relative *:relative *:size-7 *:m-auto size-14 sm:size-16 mx-auto rounded-xl dark:bg-gray-900 dark:border-white/15 before:rounded-[11px] before:absolute before:inset-0 before:border-t before:border-white before:from-gray-100 dark:before:border-white/20 before:bg-gradient-to-b dark:before:from-white/5 dark:before:to-transparent before:shadow dark:before:shadow-gray-950"
    >
      <img
        ngSrc="assets/icons/react.svg"
        alt="React"
        class="w-8 h-8 p-3"
        fill
      />
    </div>
    <!--node js-->
    <div
      class="border flex relative *:relative *:size-7 *:m-auto size-14 sm:size-16 mx-auto rounded-xl dark:bg-gray-900 dark:border-white/15 before:rounded-[11px] before:absolute before:inset-0 before:border-t before:border-white before:from-gray-100 dark:before:border-white/20 before:bg-gradient-to-b dark:before:from-white/10 dark:before:to-transparent before:shadow dark:before:shadow-gray-950 fill-green-500"
    >
      <img
        ngSrc="assets/icons/nodejs.svg"
        alt="Node Js"
        class="w-8 h-8 p-3"
        fill
      />
    </div>
  </div>
  <!--row 3-->
  <div class="mb-3 flex w-fit mx-auto gap-3">
    <!--git-->
    <div
      class="border flex relative *:relative *:size-7 *:m-auto size-14 sm:size-16 mx-auto rounded-xl dark:bg-gray-900 dark:border-white/15 before:rounded-[11px] before:absolute before:inset-0 before:border-t before:border-white before:from-gray-100 dark:before:border-white/20 before:bg-gradient-to-b dark:before:from-white/10 dark:before:to-transparent before:shadow dark:before:shadow-gray-950"
    >
      <img ngSrc="assets/icons/git.svg" alt="Git" class="w-8 h-8 p-3" fill />
    </div>
    <!--java-->
    <div
      class="border flex relative *:relative *:size-7 *:m-auto size-14 sm:size-16 mx-auto rounded-xl dark:bg-gray-900 dark:border-white/15 before:rounded-[11px] before:absolute before:inset-0 before:border-t before:border-white before:from-gray-100 dark:before:border-white/20 before:bg-gradient-to-b dark:before:from-white/10 dark:before:to-transparent before:shadow dark:before:shadow-gray-950"
    >
      <img ngSrc="assets/icons/java.svg" alt="Java" class="w-8 h-8 p-3" fill />
    </div>
    <!--Postgres-->
    <div
      class="border flex relative *:relative *:size-7 *:m-auto size-14 sm:size-16 mx-auto rounded-xl dark:bg-gray-900 dark:border-white/15 before:rounded-[11px] before:absolute before:inset-0 before:border-t before:border-white before:from-gray-100 dark:before:border-white/20 before:bg-gradient-to-b dark:before:from-white/5 dark:before:to-transparent before:shadow dark:before:shadow-gray-950"
    >
      <img
        ngSrc="assets/icons/postgres.svg"
        alt="Postgres"
        class="w-8 h-8 p-3"
        fill
      />
    </div>
    <!--docker-->
    <div
      class="border flex relative *:relative *:size-7 *:m-auto size-14 sm:size-16 mx-auto rounded-xl dark:bg-gray-900 dark:border-white/15 before:rounded-[11px] before:absolute before:inset-0 before:border-t before:border-white before:from-gray-100 dark:before:border-white/20 before:bg-gradient-to-b dark:before:from-white/5 dark:before:to-transparent before:shadow dark:before:shadow-gray-950"
    >
      <img
        ngSrc="assets/icons/docker.svg"
        alt="Docker"
        class="w-8 h-8 p-3"
        fill
      />
    </div>
  </div>
</div>
