/* You can add global styles to this file, and also import other style files */
@import url("../node_modules/toastify-js/src/toastify.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Cambiar el grosor del scrollbar */
::-webkit-scrollbar {
  width: 8px; /* para scroll vertical */
  height: 8px; /* para scroll horizontal */
}

/* Cambiar el color del "thumb" (la parte que se mueve) */
::-webkit-scrollbar-thumb {
  background-color: #eab308; /* amarillo */
  border-radius: 20px; /* bordes redondeados */
}

/* Cambiar el color del track (fondo donde se mueve el thumb) */
::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* color de fondo del track */
  border-radius: 20px;
}
